.header{
    color: #36476D;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #E5E5E5;
    color:black;
    font-family: Arial, Helvetica, sans-serif
}

.sourceBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #AFD7FA;
    border-radius: 10px;
    margin: 1.5em;
    padding: 2em;
    height: 75px;
    color: white;
}

.sourceName {
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.sourceEmail {
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.sourceInfo {
    width: 250px;
    height: 50px;
}

.addbutton {
    background-color: #56C854;
    text-align:center;
    border:none;
    color:white;
    cursor:pointer;
    border-radius: 10px;
    margin:2%;
    padding: 14px;
    font-size: large;
    width: 110px;
    text-align: center;
}


.deletebutton {
    background-color: #FF7676;
    text-align:center;
    border:none;
    color:white;
    cursor:pointer;
    border-radius: 10px;
    margin:2%;
    padding: 14px;
    font-size: large;
}

.containerBox {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin: 3em;
    padding: 10px;
    height: 75px;
}

input {
    border:none;
  }

.number {
    flex: 1;
    margin-left: 20px;
}

.name{ 
    flex: 1;
}

.email{ 
    flex: 1;
}

